.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  margin: 2rem 0;
}

form {
  max-width: 90%;
  max-height: 90%;
}

.form_header {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title h2 {
  font-size: 1.8rem;
}

.title h2::after {
  content: "";
  display: block;
  width: 5rem;
  height: 0.3rem;
  background-color: #212329;
  margin: 0 auto;
  position: absolute;
  border-radius: 10px;
}

.input_container {
  display: flex;
  flex-direction: column;

  padding-top: 1rem;
  padding-bottom: 0.9rem;
}

.input_box input {
  margin: 0.6rem 0;
  padding: 0.8rem 1rem;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 6px #0000001c;
  font-size: 0.8rem;
}

.input_box input:hover {
  background-color: #eeeeee75;
}

.input_box input:focus-visible {
  outline: 1px solid #6c63ff;
}

.input_box label {
  font-size: 0.9rem;
  font-weight: 600;
  color: #000000c0;
}

.register_button button {
  width: 100%;
  margin: 1.3rem 0;
  border: none;
  background-color: #212329;
  padding: 0.62rem;
  border-radius: 5px;
  cursor: pointer;
}

.register_button button:hover {
  background-color: #343438;
  transition: 0.5s ease-out;
}

.register_button button a {
  text-decoration: none;
  font-size: 0.93rem;
  font-weight: 500;
  color: #fff;
}

/* Fim Main */
