@import url("https://fonts.googleapis.com/css?family=Montserrat:500");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  max-width: 100vw;
  max-height: 100vh;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  background-color: #212329;
}

.logo {
  max-width: 200px;
  max-height: 45.6px;
  cursor: pointer;
  max-width: 100%;
  max-height: auto;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0 20px;
}

.nav_links a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  color: #fff;
  transition: 0.3s ease-out;
}

.nav_links li a:hover {
  color: red;
}

#header_search_bar {
  width: 250px;
  height: 40px;
  border-radius: 4px;
  outline: none;
  border: none;
  padding-left: 0.5rem;
  font-size: 1rem;
  margin-bottom: 1rem;
}

#header_search_bar::placeholder {
  color: #b1b1b1;
}

#header_search_bar_btn {
  width: 100px;
  height: 40px;
  border-radius: 4px;
  background-color: #f9423d;
  outline: none;
  border: none;
  color: #fff;
  font-size: 1rem;
}

#header_search_bar_btn:hover {
  cursor: pointer;
  background-color: #337af1;
  transition: all 0.4s ease-out;
}
/* Fim Header */

/* Main */
.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  margin: 2rem 0;
}

form {
  max-width: 90%;
  max-height: 90%;
}

.form_header {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title h2 {
  font-size: 1.8rem;
}

.title h2::after {
  content: "";
  display: block;
  width: 5rem;
  height: 0.3rem;
  background-color: #212329;
  margin: 0 auto;
  position: absolute;
  border-radius: 10px;
}

.input_container {
  display: flex;
  flex-direction: column;

  padding-top: 1rem;
  padding-bottom: 0.9rem;
}

.input_box input {
  margin: 0.6rem 0;
  padding: 0.8rem 1rem;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 6px #0000001c;
  font-size: 0.8rem;
}

.input_box input:hover {
  background-color: #eeeeee75;
}

.input_box input:focus-visible {
  outline: 1px solid #6c63ff;
}

.input_box label {
  font-size: 0.9rem;
  font-weight: 600;
  color: #000000c0;
}

.register_button button {
  width: 100%;
  margin: 1.3rem 0;
  border: none;
  background-color: #212329;
  padding: 0.62rem;
  border-radius: 5px;
  cursor: pointer;
}

.register_button button:hover {
  background-color: #343438;
  transition: 0.5s ease-out;
}

.register_button button a {
  text-decoration: none;
  font-size: 0.93rem;
  font-weight: 500;
  color: #fff;
}

/* Fim Main */

/* Footer */
.footer-container {
  background-color: #212329;
  padding: 2rem 0 2rem 0;
}

.footer {
  background-color: #212329;
  color: #fff;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer-heading {
  display: flex;
  flex-direction: column;
  margin-right: 4rem;
}

.footer-heading h2 {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 2rem;
}

.footer-heading a {
  color: #fff;
  text-decoration: none;
  margin-bottom: 0.5rem;
}

.footer-heading a:hover {
  color: red;
  transition: 0.3s ease-out;
}

.footer-email h2 {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 2rem;
}

#footer-email {
  width: 250px;
  height: 40px;
  border-radius: 4px;
  outline: none;
  border: none;
  padding-left: 0.5rem;
  font-size: 1rem;
  margin-bottom: 1rem;
}

#footer-email::placeholder {
  color: #b1b1b1;
}

#footer-email-btn {
  width: 100px;
  height: 40px;
  border-radius: 4px;
  background-color: #f9423d;
  outline: none;
  border: none;
  color: #fff;
  font-size: 1rem;
}

#footer-email-btn:hover {
  cursor: pointer;
  background-color: #337af1;
  transition: all 0.4s ease-out;
}
/* Fim Footer */

/* Media Queries */
@media screen and (max-width: 1150px) {
  .footer-email-form {
    margin-top: 4rem;
  }
}

@media screen and (max-width: 768px) {
  .footer-heading {
    margin-right: 1rem;
    font-size: 0.7rem;
  }
  .footer-3 {
    display: none;
  }
  .footer-email-form {
    margin-top: 2rem;
  }
  .footer-email-form h2 {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 460px) {
  header .search_bar {
    display: none;
  }
}

/* Fim Media Queries */