.card-title {

    text-align: center;
}

.card-title p {
    margin: auto;
}


.barra-pesquisa {
    text-align: center;
}

.barra-pesquisa {
    margin: auto;
}

.navbar {
    text-align: center;
}

.navbar {
    margin: auto;
    background-color: white;
}

.container-fluid {
    text-align: center;
}

.container-fluid {
    margin: auto;
    
}

.d-flex {
    text-align: center;
}

.d-flex {
    margin: auto;
}

h5.card-title{
    font-weight: bold;
    font-size: larger;
}

.card-footer{
    font-size: small;
}
