
.card-title {
    
    text-align: center;
}

.card-title p{
    margin: auto;
}


.barra-pesquisa {    
    text-align: center;
}

.barra-pesquisa {
    margin: auto;
}

.navbar {
    text-align: center;
}
.navbar {
    margin: auto;
}

.container-fluid {
    text-align: center;
}
.container-fluid {
    margin: auto;
}

.d-flex {
    text-align: center;
}
.d-flex {
    margin: auto;
}
