.card-title {

    text-align: center;
}

.card-title p {
    margin: auto;
}


.barra-pesquisa {
    text-align: center;
}

.barra-pesquisa {
    margin: auto;
}



.container-fluid {
    text-align: center;
}

.container-fluid {
    margin: auto;
    
}

.d-flex {
    text-align: center;
    margin: auto;
    padding: 10px 0 20px 0;

}

h5.card-title{
    font-weight: bold;
    font-size: 30px
}

.form-control{
    width: 40%;
    height: 25px;
    
}

.card-header{

    text-align: center;
    padding: 0 0 10px 0;
    font-weight: bold;
    font-size: larger;
    text-decoration-line: overline underline;
    text-decoration-style: solid;
}
.title-card{
    padding: 10px;
}

.btn {

    height: 25px;
    width: fit-content;
    margin: 0%;
}

.card-body{
    margin: 15px 40px;
}
