@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background-color: #212329;
}

nav {
	position: fixed;
	z-index: 10;
	left: 0;
	right: 0;
	top: 0;
	font-family: 'Montserrat', sans-serif;
	padding: 0 5%;
	height: 80px;
	background-color: #212329;
}
nav .logo {
	float: left;
	cursor: pointer;
    max-width: 200px;
    /* max-height: 45.6px; */
    max-width: 100%;
    max-height: 100%;
	display: flex;
	align-items: center;
	font-size: 24px;
	color: #fff;
}
nav .links {
	float: right;
	padding: 0;
	margin: 0;
    top: 40%;
	width:30%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
nav .links li {
	list-style: none;
}
nav .links a {
	display: block;
	padding: 1em;
	font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    transition: 0.3s ease-out;
}

nav .links a:hover{
    color: red;
}

#nav-toggle {
	position: absolute;
	top: -100px;
}
nav .icon-burger {
	display: none;
	position: absolute;
	right: 5%;
	top: 50%;
	transform: translateY(-50%);
}
nav .icon-burger .line {
	width: 30px;
	height: 5px;
	background-color: #fff;
	margin: 5px;
	border-radius: 3px;
	transition: all .3s ease-in-out;
}

.search_bar{
    display: inline-flex;
    align-items: center;
    height: 100%;
}

#header_search_bar {
    width: 250px;
    height: 40px;
    border-radius: 4px 0 0 4px;
    outline: none;
    border: none;
    padding-left: 0.5rem;
    font-size: 1rem;
}

#header_search_bar::placeholder{
    color: #b1b1b1;
}

#header_search_bar_btn{
    width: 100px;
    height: 40px;
    border-radius: 0 4px 4px 0;
    background-color: #f9423d;
    outline: none;
    border: none;
    color: #fff;
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
}

#header_search_bar_btn:hover {
    cursor: pointer;
    background-color: #337af1;
    transition: all 0.4s ease-out;
}

                 /*Inicio do main*/

main{
    margin-top : 70px;
    height: 600px;

}
.text h1 {
    color: gray;
    text-align: center;
}

.search {
    width: 80%;
}

.caixa-search {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #333;
    height: 55px;
    border-radius: 30px;
    padding: 10px;
}

.caixa-search:hover > .caixa-texto {
    width: 240px;
    padding: 0 6px;
}

.caixa-search:hover > .botao-search {
    background-color: #fff;
    margin-left: 3px;
}

.botao-search {
    color: #e84118;
    float: right;
    width: 40px;
    height: 30px;
    border-radius: 50%;
    background-color: #333;
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    transition: 0.4s;
}

.caixa-texto {
    border: none;
    background-color: #333;
    outline: none;
    float: left;
    padding: 0;
    color: #fff;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
    cursor: pointer;
}

.noticias h2 {
    background-color: #e84118;
}

                  /*Fim do Main*/

.footer-container {
    background-color: #212329;
    padding: 1rem 0 2rem 0;
    margin-top: auto;
}

.footer {
    width: 80%;
    height: 17vh;
    background-color: #212329;
    color: #fff;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}

.footer-heading {
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
}

.footer-heading h2 {
    font-family: "Montserrat", sans-serif;
    margin-bottom: 2rem;
}

.footer-heading a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.footer-heading a:hover {
    color: red;
    transition: 0.3s ease-out;
}

.footer-email h2 {
    font-family: "Montserrat", sans-serif;
    margin-bottom: 2rem;
}

#footer-email {
    width: 250px;
    height: 40px;
    border-radius: 4px;
    outline: none;
    border: none;
    padding-left: 0.5rem;
    font-size: 1rem;
    margin-bottom: 1rem;
}

#footer-email::placeholder {
    color: #b1b1b1;
}

#footer-email-btn{
    width: 100px;
    height: 40px;
    border-radius: 4px;
    background-color: #f9423d;
    outline: none;
    border: none;
    color: #fff;
    font-size: 1rem;
}

#footer-email-btn:hover {
    cursor: pointer;
    background-color: #337af1;
    transition: all 0.4s ease-out;
}

@media screen and (max-width: 100px) {
    .footer {
        height: 50vh;
    }
    .footer-email-form {
        margin-top: 4rem;
    }
}

@media screen and (max-width: 820px) {
    .footer {
        padding-top: 2rem;
    }
}

@media screen and (max-width: 768px) {

    nav .logo {
		float: none;
		justify-content: center;
        padding: 5% 0;
	}
	nav .links {
		float: none;
		position: fixed;
		z-index: 9;
		left: 0;
		right: 0;
		top: 100px;
		bottom: 100%;
		width: auto;
		height: auto;
		flex-direction: column;
		justify-content: space-evenly;
		background-color: rgba(0,0,0,.8);
		overflow: hidden;
		box-sizing: border-box;
		transition: all .5s ease-in-out;
	}
	nav .links a {
		font-size: 20px;
	}
	nav :checked ~ .links {
		bottom: 0;
	}
	nav .icon-burger {
		display: block;
	}
	nav :checked ~ .icon-burger .line:nth-child(1) {
		transform: translateY(10px) rotate(225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(3) {
		transform: translateY(-10px) rotate(-225deg);
	}
	nav :checked ~ .icon-burger .line:nth-child(2) {
		opacity: 0;
	}

    .footer-heading h2{
        /* margin-right: 2rem; */
        font-size: 5vw;
    }

    .footer-heading a{
        font-size: 3.5vw;
    }

    .footer-1 {
        width: 30%;
    }

    .footer-2 {
        margin: 0;
        width: 30%;
    }

    .footer-3 {
        display: none;
    }

    .footer-email-form {
        margin-top: 2rem;
    }
    
    .footer-email-form h2{
        font-size: 5vw;
    }
}

